*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    background-color: #272343;
}

:root {
    --principal-color: #272343;
    --logo-color: #B1B2FF;
    --text-color: #E4FBFF;
    --button-color: #BAE8E8;
    --tittle-color: #51C4D3;
    --select-color: #BCCEF8;
    --font-logo : 'Concert One', cursive;
}

.principal__tittle {
    width: 100%;
    display: flex;
    justify-content: center;
}

.principal__tittle h1 {
    color: var(--logo-color);
    font-size: 5rem;
}

.select__pet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select__pet--tittle {
    color: var(--tittle-color);
    font-size: 3rem;
    margin-bottom: 1rem;
}

.select__pet--input {
    margin-bottom: 1rem;
}

.select__pet--input input {
    display: none;
}

.select__pet--input input:checked + label {
    border: .15rem solid var(--select-color);
    border-radius: 2rem;
}

.select__pet--input label {
    font-size: 2rem;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 1rem;
}

.select__pet--input label img {
    width: 7.5rem;
    margin: 0 auto;
}

.select__pet--button {
    background-color: var(--button-color);
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    padding: .75rem;
    border-radius: .25rem;
    border: none;
    transition: .5s;
}

.select__pet--button:hover {
    background-color: var(--select-color);
}

@media (min-width: 640px) {
    .select__pet--input {
        display: flex;
    }

    .select__pet--input label {
        margin: 1rem;
    }
}